@use "@/styles/main" as *;
$purpel: #ff00e1;
.subheading {
  text-align: center;
  margin: 1rem; // m-4
}

.sectionWrapper {
  padding: 0.5rem; // p-2
  width: 100%;
}
.stretchTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transform: translateY(-20%);
  span {
    color: $white;
    font-family: IBMPlexSans;
    font-size: $h1;
    color: $white;
    text-align: center;
  }
}
.thumbnailBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: $space-xxxs;
  max-height: 310px;
}
.thumbnailContainer {
  width: 100%;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.maskedThumbnail {
  width: 100%;
  height: 100%;
  mask-size: auto 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-mode: luminance;
  -webkit-mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.thumbnailTitleBig {
  display: none;
}
.glyph2 {
  position: absolute;
  bottom: 12px;
  right: 12px;
  height: 64px;
  width: auto;
}
.glyph3 {
  position: absolute;
  bottom: 9px;
  right: 9px;
  height: 25px;
  width: auto;
}
.verticalLine {
  position: absolute;
  right: 10px;
  height: 100%;
  width: auto;
}
@media (min-width: $breakpoint-tablet) {
  .stretchTitleContainer {
    display: none;
  }
  .thumbnailContainer {
    max-width: 700px;
    height: 500px;
  }
  .glyph2 {
    bottom: 20px;
    right: 20px;
    height: 84px;
    width: auto;
  }
  .glyph3 {
    position: absolute;
    bottom: 12px;
    right: 12px;
    height: 32px;
    width: auto;
  }
  .verticalLine {
    right: 16px;
  }
  .thumbnailBox {
    background-color: #110b24;
  }
  .thumbnailTitleBig {
    display: block;
    color: $white;
    font-family: IBMPlexSans;
    font-size: 5rem;
    position: absolute;
  }
}
@media (min-width: $breakpoint-laptop) {
}
