@use "@/styles/main" as *;

.navHead {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--navbar-height);
  background-color: $green-200;
}

.headingContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: $space-xxs;
  justify-content: flex-start;
  align-items: center;
  padding: $space-xs;
  width: auto;

  h1 {
    color: $black;
    font-family: Berlin;
    font-size: 29px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.2px;
    margin: auto 0 auto 0;
  }
}
.currentPageTitle {
  display: block;
  transform: translateY(9%);
}
.btnContainer {
  display: none;
  flex-grow: 1;
  gap: $space-s;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: $space-m;
}
.active {
  box-shadow: 1px 2px 4px #266550;
  border: 2px solid $black;
  background-color: $green-200 !important;
  cursor: default;
}
.menuBtn {
  display: flex;
  justify-content: center;
  background-color: $green-200;
  align-items: center;
  padding: $space-xxxs $space-m;

  p {
    font-family: Now;
    font-weight: 500;
    font-size: $h5;
    color: $black;
  }
}
.menuBtn:hover {
  background-color: $green-100;
}
.darkModeBtn {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $space-xxxs;
}
.darkModeBtn:hover {
  background-color: $green-100;
}
.headingContainer:focus {
  box-shadow: inset 0px 0px 0px 3px rgba(4, 17, 1, 1);
}

.icon {
  height: 28px;
  aspect-ratio: 1/1;
}
@media (min-width: $breakpoint-tablet) {
}
@media (min-width: $breakpoint-laptop) {
  .btnContainer {
    display: flex;
  }
  .currentPageTitle {
    display: none;
  }
}
