@use "@/styles/main" as *;

.navHead {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--navbar-height);
  background-color: $green-200;
}

.headingContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: $space-xxs;
  justify-content: flex-start;
  align-items: center;
  padding: $space-xs;

  h1 {
    color: $black;
    font-family: Berlin;
    font-size: 29px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.9px;
    margin: auto 0 auto 0;
  }
}

.headingContainer:focus {
  box-shadow: inset 0px 0px 0px 3px rgba(4, 17, 1, 1);
}

.icon {
  height: 28px;
  aspect-ratio: 1/1;
}
