// SPACINGS
$space-xxxxs: 1px;
$space-xxxs: 4px;
$space-xxs: 8px;
$space-xs: 12px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 40px;
$space-xxl: 48px;
$space-xxxl: 64px;

// MEDIA BREAK POINTS
$breakpoint-tablet: 608px;
$breakpoint-laptop: 992px;
$breakpoint-big-ass-screens: 1280px;
