@use "@/styles/main" as *;

.rootContainer {
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 48px 32px;
}

.mainContent {
  width: 100%;
  padding: $space-s;
  max-width: $breakpoint-laptop;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}
.sectionLine {
  width: 100%;
  height: 2px;
  background-color: $black;
  margin: 25px 0 10px 0;
}

// Title Section
.titleSection {
  flex: 1;

  h1 {
    color: $black;
    font-family: Berlin;
    font-size: 102px;
    font-style: normal;
    font-weight: 700;
    line-height: 82%; /* 100.86px */
    letter-spacing: 12.3px;
  }

  p {
    color: $black;
    font-family: SpaceMono;
    font-size: $h6;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.92px */
    letter-spacing: 0.552px;
    margin-top: $space-m;
  }
}

// Form Section
.formSection {
  flex: 1;
  width: 100%;
  max-width: 600px;
}

.titleBar {
  background-color: $black;
  color: $white;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid $black;
  font-family: SpaceMono;
  font-size: $h5;

  .windowBtn {
    width: 32px;
    height: 32px;
    background-color: $white;
    // border: 2px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #d0d0d0;
    }

    svg {
      color: $black;
    }
  }
}
.formWindow {
  background-color: $white;
  border: 3px solid $black;
  box-shadow: 8px 8px 0 $black;
}

.formContent {
  //padding: $space-m;
}

.input {
  width: 100%;
  padding: $space-xs $space-s;
  border: 2px solid #999;
  font-family: "Courier New", monospace;
  font-size: 18px;
  margin-bottom: 16px;
  box-sizing: border-box;

  &:focus {
    // outline: none;
    // border-color: black;
  }

  &::placeholder {
    color: $neutral-200;
  }
}

.textarea {
  width: 100%;
  padding: $space-xs $space-s;
  border: 2px solid $neutral-200;
  font-family: "Courier New", monospace;
  font-size: 18px;
  margin-bottom: 16px;
  resize: none;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: black;
  }

  &::placeholder {
    color: $neutral-200;
  }
}

.hint {
  text-align: right;
  margin-bottom: 16px;

  p {
    font-family: "Courier New", monospace;
    font-size: 12px;
    color: $neutral-200;
    line-height: 1.4;
  }
}

.sendBtn {
  width: 100%;
  padding: 16px;
  font-family: SpaceMono;
  font-size: 20px;
  font-weight: 700;
  border: 4px solid $black;
  background-color: $black;
  color: $white;
  cursor: pointer;
  transition: background-color 0.3s;

  &:focus {
    background-color: $white;
    color: $black;
    border: 4px solid $black;
  }
  &:hover {
    background-color: $white;
    color: $black;
    border: 4px solid $black;
  }

  &.sent {
    background-color: $green-100;
    color: $black;
  }
}

// Footer
.footer {
  padding-top: $space-l;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: $space-xxxs;

  .iconContainer {
    display: flex;
    justify-content: center;
    gap: $space-l;
  }

  .socialLink {
    color: black;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.stripe {
  width: 2000px;
}
@media only screen and (min-width: 800px) {
  .titleSection {
    h1 {
      font-size: 123px;
    }
  }
}
