@use "@/styles/main" as *;

.default {
  color: $white;
  display: grid;
  grid: auto / auto auto auto auto;
  padding: 0 $space-xxxs 0 $space-xxxs;
  height: fit-content;
  p {
    color: $white;
    font-family: SpaceMono;
    font-size: $p;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.552px;
  }
}

.imgContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p {
    color: $white;
    margin-top: $space-xxxs;
    font-family: SpaceMono;
    font-size: $tiny;
    font-weight: 400;
    font-style: italic;
  }
}

.sectionLine {
  grid-column: 1 / span 4;
  width: 100%;
  height: 1px;
  background-color: $neutral-200;
  margin: 40px 0 40px 0;
}

.temp1 {
  .headingContainer {
    position: relative;
    padding: $space-xxs;
    grid-column: 1 / span 1;
    background-color: $white;
    margin: 0 $space-xxxs 0 0;
    width: 80px;
    min-height: 250px;

    h2 {
      position: absolute;
      width: max-content;
      transform-origin: top left;
      transform: rotate(-90deg) translateX(-100%);

      color: $black;
      font-family: Now;
      font-size: $h1;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
    }
  }
  .sidePanel {
    display: flex;
    flex-direction: column;
    gap: $space-xxs;
  }
}

h3 {
  color: $white;
  font-family: Now;
  font-size: $h3;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-top: $space-xs;
}

.temp2 {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
  .headingContainer {
    padding: $space-xxs;
    background-color: $white;
    width: 100%;
  }
  h2 {
    color: $black;
    font-family: Now;
    font-size: $h1;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 2.76px;
  }
}

.temp3 {
  .headingContainer {
    position: relative;
    padding: $space-xxs;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: $white;
    margin: 0 $space-xxxs 0 0;
    width: 80px;
    min-height: 250px;

    h2 {
      position: absolute;
      width: max-content;
      transform-origin: top left;
      transform: rotate(90deg) translateY(-100%);

      color: $black;
      font-family: Now;
      font-size: $h1;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
    }
  }
  .sidePanel {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    gap: $space-xxs;
  }
}
