@use "@/styles/main" as *;

.container {
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: row;
  gap: $space-xxs;
  justify-content: flex-start;
  align-items: center;
  background-color: $green-200;
  padding: $space-xs;

  h1 {
    font-family: Berlin;
    font-size: 29px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.9px;
    margin: auto 0 auto 0;
  }

  .icon {
    height: 28px;
    aspect-ratio: 1/1;
  }

  .burgerMenu {
    background-color: $neutral-800;
    margin-left: auto;
  }
}
