@use "@/styles/main" as *;
.burgerMenu {
  z-index: 80;
  position: fixed;
  width: 70px;
  border-radius: 6px;
  right: 28px;
  bottom: 40px;
  aspect-ratio: 1/1;
  &:focus {
    box-shadow: inset 0px 0px 0px 3px rgba(4, 17, 1, 1);
  }
}
.isActive {
  background-color: $green-200;
  &:hover {
    background-color: $green-100;
  }
}
.isNotActive {
  background-color: $green-900;
  box-shadow: 3px 3px 0 0 $green-200;
  img {
    aspect-ratio: 1/1;
    width: 32px;
  }
  &:hover {
    background-color: $green-800;
  }
  &:active {
    background-color: $green-400;
  }
}
@media (min-width: $breakpoint-tablet) {
}
@media (min-width: $breakpoint-laptop) {
  .burgerMenu {
    display: none;
  }
}
