@import "tailwindcss";

@font-face {
  font-family: "Unageo-regular";
  src: url("./assets/fonts/unageo/woff2/Unageo-Regular.woff2") format('woff2');
  font-weight: 400; 
  font-style: normal; 
}
@font-face {
  font-family: "Lexend-regular";
  src: url("./assets/fonts/Lexend_Exa/woff2/LexendExa-Regular.woff2") format('woff2');
  font-weight: 400; 
  font-style: normal; 
}

@theme {
  --color-neongreen:rgb(83, 243, 43);
  --color-light-grey:rgb(130, 130, 130);
  --font-unageo: "Unageo-regular";
  --font-lexend: "Lexend-regular";
}

:root {
  font-family: Unageo-regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(73, 73, 73, 0.87);
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}